<% if @form.respond_to? :member_of_collection_ids %>
  <div class="row" with-headroom">
    <legend>Member of Collections</legend>
    <%= f.input :member_of_collection_ids, collection: @collections, label_method: :first_title, input_html: { multiple: true } %>
  </div>
<% end %>
