                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <%= link_to main_app.root_path do %>
                          <span class="glyphicon glyphicon-globe"></span>
                          <%= application_name %>
                        <% end %>
                        <a href="#" class="x-navigation-control"></a>
                        <%= render "admin_menu", configuration: @configuration %>
                    </li>
                </ul>
