<div class="<%= "dashboard-#{action_name}" %>">
  <% @configuration[:actions][action_name][:partials].each do |partial_name| %>
    <div class="<%= "partial-#{partial_name}" %>">
      <%= render partial_name %>
    </div>
  <% end %>
</div>
